{% extends "base.html" %}
{% block content %}



{%if not number_of_blogs%}
 
NO Content yet
  {%else%}
  <ul class = "blog_container"> 
 
  {%for blog in all_blogs %}     

                <li class = "blog_content"> 
                <h2 class = "blog_title"> <a href = "/show?id={{blog.id}}"> {{blog.title}}</a></h2>
                <p class = "blog_body">{{blog.body}}</p>
                <div class = "blog_date">{{blog.record}}  </div>
                </li>    
        

                {%endfor%}
        </ul>

{%endif%}



        {% endblock%}





